[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
pygments = "*"
django-aliyun-oss2-storage = "*"
django-cors-headers = "*"
django-filter = "*"
django-rest-auth = "*"

[requires]
python_version = "3.7"
